@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
  height: 100%;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 225 6.3% 12.5%;

    --secondary-background: 0 0% 95%;

    --card: 0 0% 100%;
    --card-foreground: 225 6.3% 12.5%;
 
    --popover: 0 0% 100%;
    --popover-foreground: 225 6.3% 12.5%;
 
    --primary: 232 86% 65%;
    --primary-foreground: 60 9.1% 88.8%;
 
    --secondary: 60 4.8% 87.9%;
    --secondary-foreground: 60 9.1% 20.8%;
 
    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;
 
    --accent: 60 4.8% 95.9%;
    --accent-foreground: 60 9.1% 20.8%;
 
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 100%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 0%;
    --ring: 225 6.3% 12.5%;
 
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 225 6.7% 20.6%;
    --foreground: 0 0% 70%;
    
    --secondary-background: 220 6.5% 18%;
    
    --card: 225 6.3% 12.5%;
    --card-foreground: 232, 86% 65%;
 
    --popover: 225 6.3% 12.5%;
    --popover-foreground: 0 0% 100%;
    
    --primary: 232 86% 65%;
    --primary-foreground: 0 0% 100%;
    --secondary: 20 2.5% 12.1%;
    --secondary-foreground: 232 86% 65%;
 
    --muted: 12 2.5% 12.1%;
    --muted-foreground: 24 5.4% 63.9%;
 
    --accent: 215 19% 35%;
    --accent-foreground:  0 0% 90%;
 
    --destructive: 360 70% 52%;
    --destructive-foreground: 0 0% 100%;
 
    --border: 223 5% 23%;
    --input: 12 2.5% 12.1%;
    --ring: 24 5.7% 82.9%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}